@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Monserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Monserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: KaushanScript-Regular;
    src: url(../fonts/KaushanScript/KaushanScript-Regular.otf);
}

@font-face {
    font-family: pe-icon-social;
    src: url(../fonts/pe-icon-social.ttf);
}